<IfModule mod_rewrite.c>
RewriteBase /api/v1/
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?request=$1&%{QUERY_STRING} [L]
</IfModule>